template(name='new_order')
    #new_order.full.row
        form.col-md-6#new_order_form(role='form')
            .form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='Your name' value='#{name}')
                .checkbox
                    input#picking_up(type='checkbox', checked='#picking_up')
                    label(for='picking_up') I will be picking up these discs
            .form-group(style='display: none;')
                label(for='recipient') Recipient Name:
                input#recipient.form-control(type='text ', placeholder='The person picking up the discs' value='#{recipient}')
            .form-group
                label(for='bunk') Bunk:
                input#bunk.form-control(type='text', placeholder='Your bunk' value='#{bunk}')
        #discs.col-md-6
            each discs
                +disc_svg(this)
        button.btn.btn-default(type='submit') Submit


template(name='disc_svg')
    .disc_machine(data-index='#{index}')
        .plus_container
            svg.plus(xmlns='http://www.w3.org/2000/svg', preserveAspectRatio="xMidYMin meet", viewBox="0 0 100 100")
                rect(width='100' height='100' rx='10' ry='10' fill="grey")
                rect(width='10' height='70' x='45' y='15' fill='white')
                rect(width='70' height='10' x='15' y='45' fill='white')
        .disc_container
            svg.disc(xmlns='http://www.w3.org/2000/svg', preserveAspectRatio="xMidYMin meet", viewBox="0 0 100 100")
                circle(cx='50', cy='50', r='46', stroke='black', stroke-width='1', fill='#{color}')
                circle(cx='50', cy='50', r='36', stroke='black', stroke-width='1', fill='none')
                circle(cx='50', cy='50', r='33', stroke='black', stroke-width='1', fill='none')
                circle(cx='50', cy='50', r='30', stroke='black', stroke-width='1', fill='none')
                circle(cx='50', cy='50', r='27', stroke='black', stroke-width='1', fill='none')
                text(x="50" y="60" text-anchor="middle" font-family="Arial" font-size="30px") #{num}
        .minus_container
            svg.minus(xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="xMidYMin meet" viewBox="0 0 100 100")
                rect(width='100' height='100' rx='10' ry='10' fill="grey")
                rect(width='70' height='10' x='15' y='45' fill='white')